In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.offline as py
import plotly.graph_objs as go

py.init_notebook_mode(connected=True)
%matplotlib inline

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/KBIZ한마음고딕 B.ttf").get_name()
rc('font', family=font_name)

In [2]:
kind = ['온라인게임 시장규모(억 원)', 'PC게임 시장규모(억 원)', '모바일게임 시장규모(억 원)',
        '비디오게임 시장규모(억 원)', '아케이드게임 시장규모(억 원)']

data = {'2011' : [62369, 96, 4236, 2684, 736],
        '2012' : [67839, 680, 8009, 1609, 791],
        '2013' : [54523, 380, 23277, 936, 825],
        '2014' : [55425, 337, 29136, 1598, 528],
        '2015' : [52804, 379, 34844, 1661, 474]
}

data_game = pd.DataFrame(data)
data_game.index = kind
data_game

                   2011   2012   2013   2014   2015
온라인게임 시장규모(억 원)   62369  67839  54523  55425  52804
PC게임 시장규모(억 원)       96    680    380    337    379
모바일게임 시장규모(억 원)    4236   8009  23277  29136  34844
비디오게임 시장규모(억 원)    2684   1609    936   1598   1661
아케이드게임 시장규모(억 원)    736    791    825    528    474

In [3]:
data_2009 = pd.read_csv('2009-_.csv')
data_2009.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning:

Columns (0,1,2,4,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,82,83,85,86,87,89,90,91,93,94,95,97,98,99,101,102,103,105,106,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,151,153,155,157,159,161,163,165,167,169,171,173,175,177,179,181,183,185,187,189,191,193,194,195,197,199,201,203,205,207,209,211,213,215,217,219,220,221,222,223,225,227,229,231,232,233,235,237,239,241,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,296,298,300,302,304,305,306,308,310,311,312,314,316,318,320,322,324,325,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,402,404,406,408,410,412,414,416,418,420,422,424,426,428,430,432,434,436,438,440,442,444,446,448,450,452,454,456,458,460,462,464,466,468,470,472,474,476,478,479,480,481,482,484,486,488,490,492,494,496,498,500,502,504,506,508,510,512,513,514,515,516,517,518,520,522,524,526,528,530,532,534,536,538,539,540,541,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,602,604,606,608,610,612,614,616,618,620,622,624,626,628,630,632,634,635,636,638,640,642,644,646,648,650,652,654,656,658,660,662,664,666,668,670,672,674,676,678,680,682,684,686,688,690,692,694,696,698,700,702,704,706,708,710,712,714,716,718,720,722,724,726,728,730,732,734,736,738,740,742,744,746,748,750,752,754,756,758,760,762,764,766,768,770,772,774,776,778,780,782,784,786,788,790,792,794,796,798,800,802,804,806) have mixed types. Specify dtype option on import or set low_memory=False.

,Panel ID,가중치,가구원 수1,가구원 수1_labels,시부/군부,시부/군부_labels,응답자 주소,가구원 수2,가구원 수2_labels,가구구성,...,IPTV(VOD) 주말 평균 시청시간(분 단위)_리코드2,IPTV(VOD) 주말 평균 시청시간(분 단위)_리코드2_labels,인터넷TV 일 평균 이용시간(분 단위)-지상파 TV 사이트(실시간-on air)_리코드1,인터넷TV 일 평균 이용시간(분 단위)-지상파 TV 사이트(실시간-on air)_리코드1_labels,인터넷TV 일 평균 이용시간(분 단위)-지상파 TV 사이트(VOD)_리코드2,인터넷TV 일 평균 이용시간(분 단위)-지상파 TV 사이트(VOD)_리코드2_labels,인터넷TV 일 평균 이용시간(분 단위)-동영상 공유 전문 사이트_리코드,인터넷TV 일 평균 이용시간(분 단위)-동영상 공유 전문 사이트_리코드_labels,인터넷TV 일 평균 이용시간(분 단위)-포털 사이트 동영상 시청_리코드,인터넷TV 일 평균 이용시간(분 단위)-포털 사이트 동영상 시청_리코드_labels
0,pid,weight,t_mn1,NaN,region,NaN,address,t_mn2,NaN,fac,...,p_i027_02_r2,NaN,p_p005_01_r,NaN,p_p005_02_r,NaN,p_p005_03_r,NaN,p_p005_04_r,NaN
1,1.0,2.88664,3.0,3인 이상 가구,1.0,동,경기도 안산시 단원구 선부2동 ...,4.0,4.0,3.0,...,1.0,30분 미만,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.22031,2.0,2인 가구,2.0,읍면,경기도 남양주시 와부읍 ...,2.0,2.0,2.0,...,1.0,30분 미만,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,0.23991,2.0,2인 가구,2.0,읍면,경기도 남양주시 와부읍 ...,2.0,2.0,2.0,...,1.0,30분 미만,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,0.97945,1.0,1인 가구,2.0,읍면,경기도 남양주시 와부읍 ...,1.0,1.0,1.0,...,1.0,30분 미만,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_2010 = pd.read_csv('2010-_.csv')
data_2010.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning:

Columns (0,1,2,4,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,60,62,63,64,65,66,67,69,70,71,72,74,75,76,78,79,81,82,83,85,86,87,89,90,91,93,94,95,97,98,99,101,102,103,105,106,107,109,110,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,144,145,147,150,152,154,155,156,158,159,160,161,162,163,164,166,168,170,172,175,177,179,181,183,185,187,188,189,191,193,195,197,198,199,200,201,203,205,207,208,209,210,211,213,215,217,219,221,223,225,227,229,231,233,235,237,239,241,243,245,247,249,251,253,255,257,259,261,263,265,266,267,269,271,273,274,275,277,279,281,283,285,287,289,291,293,295,297,298,299,301,303,304,305,306,307,308,309,311,312,313,315,317,319,321,323,325,327,329,331,333,335,337,339,341,343,345,347,349,351,353,355,357,359,361,363,365,367,369,371,373,375,377,379,381,383,384,385,387,389,391,393,395,397,399,401,403,404,405,407,409,411,413,415,416,417,418,419,421,423,425,427,428,430,432,434,436,438,440,442,444,446,448,450,452,454,456,458,460,462,464,465,466,467,468,469,470,471,472,473,474,476,477,478,479,480,482,484,486,488,490,492,494,496,498,500,502,503,505,507,509,511,512,513,515,517,519,521,523,525,527,529,531,533,535,537,539,541,543,545,547,549,551,553,555,557,559,561,563,565,567,569,571,573,575,577,579,581,583,585,587,589,591,593,595,597,599,601,603,605,607,609,611,613,615,617,618,619,620,621,623,625,627,629,631,633,635,637,639,641,643,645,647,650,652,655,657,660,662,664,666,668,670,672,673,674,675,676,678,680,682,684,686,688,690,692,693,694,695,696,698,700,702,703,705,707,709,711,713,715,717,719,721,723,725,727,729,731,733,735,737,739,741,743,745,747,749,751,753,755,757,759,761,763,765,767,769,771,773,775,777,779,781,783,785,787,789,791,793,795,797,799,801,803,805,807,809,811,813,815,817,819,821,823,825,827,829,831,833,835,837,839,841,843,845,847,849,851,853,855,857,859,861,863,865,867,869,871,873,875,877,879,881,883,885,887,889,891,893,895) have mixed types. Specify dtype option on import or set low_memory=False.

,Panel ID,가중치,성별,성별 _labels,연령구분,연령구분_labels,응답자 주소,거주지2,거주지2_labels,지상파TV 시청여부,...,장소-새벽 330-359,장소-새벽 330-359_labels,장소-새벽 400-429,장소-새벽 400-429_labels,장소-새벽 430-459,장소-새벽 430-459_labels,장소-새벽 500-529,장소-새벽 500-529_labels,장소-새벽 530-559,장소-새벽 530-559_labels
0,pid,weight,p_sex,NaN,age2,NaN,address,p_reg2,NaN,G_TV,...,p_di_f044,NaN,p_di_f045,NaN,p_di_f046,NaN,p_di_f047,NaN,p_di_f048,NaN
1,1.0,0.37805,1.0,남,6.0,60대이상,경기도 용인시 처인구 김량장동 ...,2.0,경기/인천,2.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
2,2.0,1.27374,2.0,여,3.0,30대,경기도 용인시 처인구 김량장동 ...,2.0,경기/인천,2.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
3,3.0,0.97695,1.0,남,6.0,60대이상,경기도 용인시 수지구 상현동 ...,2.0,경기/인천,2.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
4,4.0,0.85924,2.0,여,5.0,50대,경기도 용인시 수지구 풍덕천동 ...,2.0,경기/인천,1.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안

In [5]:
data_2011 = pd.read_csv('2011-_.csv')
data_2011.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning:

Columns (0,1,2,5,7,9,11,13,15,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,49,51,52,53,54,55,56,58,59,60,62,63,64,66,67,68,70,71,73,74,75,77,78,79,81,82,83,85,86,87,89,90,91,93,94,95,97,98,99,101,102,103,105,107,109,111,113,115,117,119,121,123,125,126,127,128,129,130,131,132,133,134,135,137,139,142,144,146,148,150,152,154,156,157,158,159,160,161,162,164,166,168,170,172,174,175,176,177,178,179,180,181,182,184,185,186,187,188,189,190,191,192,193,194,195,196,198,200,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,224,226,228,230,232,234,236,237,238,240,242,244,246,247,248,249,250,251,252,254,256,258,260,262,264,266,267,268,269,270,272,274,275,276,277,278,279,280,282,283,284,285,286,287,288,289,290,291,292,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,324,326,328,330,332,334,336,337,338,339,340,342,344,346,348,349,350,351,352,353,354,355,356,358,360,362,363,364,365,366,367,368,370,372,374,376,377,378,379,380,381,382,384,386,388,390,392,393,394,395,396,397,398,400,402,404,405,406,407,408,409,410,411,412,414,416,418,420,422,424,425,426,427,428,429,430,431,432,434,436,437,438,439,440,441,442,443,444,445,446,448,450,452,453,454,455,456,457,458,460,462,464,466,468,470,472,473,474,475,476,477,478,479,480,482,484,486,488,490,492,494,496,498,500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,549,550,551,552,553,554,555,556,558,560,561,562,563,564,565,566,567,568,569,570,572,574,575,576,578,580,582,584,586,588,590,592,594,596,598,599,600,602,604,606,608,609,610,611,612,613,614,616,617,618,619,620,621,622,624,626,628,630,631,632,633,634,635,636,637,638,640,642,644,645,646,647,648,649,650,652,654,656,658,659,660,661,662,663,664,666,668,670,672,673,674,675,676,677,678,679,680,682,684,686,687,688,689,690,691,692,693,694,696,698,700,702,703,704,705,706,707,708,709,710,712,714,716,718,720,722,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,782,784,786,788,790,792,794,796,797,798,799,800,802,803,804,805,806,807,808,809,810,811,812,814,816,818,819,820,821,822,823,824,825,826,828,830,831,832,833,834,835,836,837,838,839,840,842,844,845,846,847,848,849,850,851,852,854,856,858,860,861,862,863,864,865,866,867,868,870,872,873,874,875,876,877,878,879,880,881,882,884,886,888,889,890,891,892,893,894,895,896,898,900,902,904,906,908,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,958,959,960,961,962,963,964,965,966,967,968,970,972,974,976,978,980,981,982,983,984,985,986,987,988,989,990,991,992,994,995,996,997,998,1000,1002,1004,1006,1007,1008,1009,1010,1012,1014,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1035,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1049,1050,1051,1053,1054,1055,1057,1059,1061,1063,1065,1067,1069,1070,1071,1072,1073,1075,1077,1079,1080,1082,1084,1086,1088,1089,1090,1092,1094,1096,1098,1100,1102,1104,1106,1108,1110,1112,1114,1116,1118,1120,1122,1124,1126,1128,1130,1132,1134,1136,1138,1140,1142,1144,1145,1146,1147,1148,1149,1150,1152,1153,1154,1155,1156,1158,1160,1162,1163,1164,1165,1166,1167,1168,1169,1170,1172,1174,1176,1178,1179,1180,1181,1182,1183,1184,1186,1188,1190,1192,1194,1196,1198,1199,1200,1201,1202,1203,1204,1205,1206,1208,1211,1213,1215,1218,1220,1222,1224,1226,1228,1230,1231,1232,1233,1234,1235,1236,1237,1238,1240,1241,1242,1243,1244,1245,1246,1248,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1272,1274,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1313,1315,1317,1319,1321,1323,1325,1327,1329,1331,1333,1335,1337,1339,1341,1343,1345,1347,1349,1351,1353,1355,1357,1359,1361,1363,1364,1365,1367,1368,1369,1370,1372,1373,1374,1376,1378,1380,1381,1384,1386,1387,1388,1389,1390,1391,1392,1393,1395,1397,1398,1399,1400,1401,1402,1403,1405,1407,1408,1409,1410,1411,1413,1415,1417,1420,1421,1422,1423,1424,1426,1428,1430,1432,1435,1436,1437,1438,1439,1440,1441,1442,1443,1445,1447,1450,1452,1453,1454,1455,1456,1458,1460,1462,1465,1467,1469,1471,1473,1475,1477,1480,1482,1484,1486,1488,1490,1492,1495,1497,1499,1501,1503,1505,1507,1510,1512,1514,1516,1518,1520,1522,1525,1527,1529,1531,1533,1535,1537,1540,1542,1544,1546,1548,1550,1552,1555,1557,1559,1561,1563,1565,1567,1570,1572,1574,1576,1578,1580,1582,1585,1587,1589,1591,1593,1595,1597,1600,1602,1604,1606,1608,1610,1612,1615,1617,1619,1621,1623,1625,1627,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1650,1652,1654,1656,1658,1660,1662,1664,1665,1666,1667,1668,1669,1670,1671,1672,1674,1675,1676,1677,1678,1679,1680,1682,1684,1686,1688,1690,1692,1694,1696,1697,1698,1699,1700,1701,1702,1704,1706,1708,1710,1712,1714,1716,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1738,1740,1742,1744,1746,1748,1750,1752,1754,1756,1758,1760,1762,1764,1766,1768,1770,1772,1774,1776,1778,1780,1782,1784,1786,1788,1790,1792,1794,1796,1798,1800,1802,1804,1806,1808,1810,1812,1814,1816,1818,1820,1822,1824,1826,1828,1830,1832,1834,1836,1838,1840,1842,1844,1846,1848,1850,1851,1852,1854,1856,1858,1860,1862,1864,1866,1868,1870,1872,1874,1876,1878,1880,1882,1884,1886,1888,1890,1892,1894,1895,1896,1898,1900,1902,1904,1906,1908,1910,1912,1914,1916,1917,1918,1920,1922,1924,1926,1928,1930,1932,1934,1936,1938,1939,1940,1942,1944,1946,1948,1950,1952,1954,1956,1958,1960,1961,1962,1964,1966,1968,1970,1972,1974,1976,1978,1980,1982,1983,1984,1986,1988,1990,1992,1994,1996,1998,2000,2002,2004,2005,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024,2026,2027,2028,2029,2030,2032,2034,2036,2038,2040,2042,2044,2046,2048,2049,2050,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2071,2072,2074,2076,2078,2080,2082,2084,2086,2088,2090,2092,2093,2094,2096,2098,2100,2102,2104,2106,2108,2110,2112,2114,2115,2116,2118,2120,2122,2124,2126,2128,2130,2132,2134,2136,2137,2138,2140,2142,2144,2146,2148,2150,2152,2154,2156,2158,2159,2160,2162,2164,2166,2168,2170,2172,2174,2176,2178,2180,2181,2182,2184,2186,2188,2190,2192,2194,2196,2198,2200,2202,2203,2204,2205,2206,2207,2208,2210,2212,2214,2216,2218,2220,2222,2224,2225,2226,2227,2228,2229,2230,2232,2234,2236,2238,2240,2242,2244,2246,2247,2248,2249,2250,2252,2254,2256,2258,2260,2262,2264,2266,2268,2269,2270,2271,2272,2273,2274,2276,2278,2280,2282,2284,2286,2288,2290,2291,2292,2293,2294,2296,2298,2300,2302,2304,2306,2308,2310,2312,2313,2314,2315,2316,2317,2318,2320,2322,2324,2326,2328,2330,2332,2334,2335,2336,2337,2338,2339,2340,2342,2344,2346,2348,2350,2352,2354,2356,2357,2358,2359,2360,2361,2362,2364,2366,2368,2370,2372,2374,2376,2378,2379,2380,2381,2382,2383,2384,2386,2388,2390,2392,2394,2396,2398,2400,2401,2402,2403,2404,2405,2406,2408,2410,2412,2414,2416,2418,2420,2422,2423,2424,2425,2426,2427,2428,2430,2432,2434,2436,2438,2440,2442,2444,2445,2446,2447,2448,2449,2450,2452,2454,2456,2458,2460,2462,2464,2466,2467,2468,2469,2470,2471,2472,2474,2476,2478,2480,2482,2484,2486,2488,2489,2490,2491,2492,2493,2494,2496,2498,2500,2502,2504,2506,2508,2510,2511,2512,2513,2514,2515,2516,2518,2520,2522,2524,2526,2528,2530,2532,2533,2534,2535,2536,2537,2538,2540,2542,2544,2546,2548,2550,2552,2554,2555,2556,2557,2558,2559,2560,2562,2564,2566,2568,2570,2572,2574,2576,2577,2578,2579,2580,2581,2582,2584,2586,2588,2590,2592,2594,2596,2598,2599,2600,2601,2602,2603,2604,2606,2608,2610,2612,2614,2616,2618,2620,2621,2622,2623,2624,2625,2626,2628,2630,2632,2634,2636,2638,2640,2642,2643,2644,2645,2646,2647,2648,2650,2652,2654,2656,2658,2660,2662,2664,2665,2666,2667,2668,2670,2672,2674,2676,2678,2680,2682,2684,2686,2687,2688,2690,2692,2694,2696,2698,2700,2702,2704,2706,2708,2709,2710,2711,2712,2714,2716,2718,2720,2722,2724,2726,2728,2730,2732,2734,2736,2738,2740,2742,2744,2746,2748,2750,2752,2754,2756,2758,2760,2762,2764,2766,2768,2770,2772,2774,2776,2778,2780,2782,2784,2786,2788,2790,2792,2794,2796,2798,2800,2802,2804,2806,2808,2810,2812,2814,2816,2818,2820,2822) have mixed types. Specify dtype option on import or set low_memory=False.

,Panel ID,가중치,시부/군부,시부/군부_labels,응답자 주소,가구주와의 관계,가구주와의 관계 _labels,성별,성별 _labels,생년(양력),...,장소-새벽 330-359,장소-새벽 330-359_labels,장소-새벽 400-429,장소-새벽 400-429_labels,장소-새벽 430-459,장소-새벽 430-459_labels,장소-새벽 500-529,장소-새벽 500-529_labels,장소-새벽 530-559,장소-새벽 530-559_labels
0,pid,weight,region,NaN,address,p_rel,NaN,p_sex,NaN,p_birth,...,p_di_f044,NaN,p_di_f045,NaN,p_di_f046,NaN,p_di_f047,NaN,p_di_f048,NaN
1,10101.0,1.75243,1.0,동,서울특별시 강서구 등촌동 ...,1.0,가구주,1.0,남,1967.0,...,2.0,집안,2.0,집안,2.0,집안,2.0,집안,2.0,집안
2,10102.0,1.64454,1.0,동,서울특별시 강서구 등촌동 ...,2.0,가구주의 배우자,2.0,여,1967.0,...,2.0,집안,2.0,집안,2.0,집안,2.0,집안,2.0,집안
3,20101.0,1.46,1.0,동,서울특별시 강서구 등촌동 ...,1.0,가구주,1.0,남,1957.0,...,2.0,집안,2.0,집안,2.0,집안,2.0,집안,2.0,집안
4,20102.0,1.30335,1.0,동,서울특별시 강서구 등촌동 ...,2.0,가구주의 배우자,2.0,여,1960.0,...,2.0,집안,2.0,집안,2.0,집안,2.0,집안,2.0,집안

In [6]:
data_2012 = pd.read_csv('2012-_.csv')
data_2012.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning:

Columns (0,1,3,5,7,9,11,13,15,17,18,20,22,24,26,28,30,32,34,36,38,39,40,41,42,43,45,46,47,49,50,51,53,54,55,57,58,60,62,63,64,66,67,68,70,71,72,74,75,76,78,79,80,82,83,84,86,87,88,90,91,92,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,114,115,116,118,119,120,122,123,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,186,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,224,226,228,230,232,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,250,252,254,256,258,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,280,282,284,285,286,287,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,331,332,333,334,335,336,338,340,341,342,344,346,347,348,349,350,351,352,353,354,356,358,359,360,361,362,363,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,397,398,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,472,473,474,475,476,477,478,479,480,482,484,486,488,490,492,494,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,544,545,546,547,548,549,550,551,552,553,554,556,557,558,559,560,561,562,563,564,565,566,568,569,570,572,574,576,578,579,580,582,584,586,588,589,590,592,594,596,598,599,600,602,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,620,621,622,624,626,628,630,632,634,636,637,638,639,640,641,642,644,646,648,650,652,654,656,657,658,660,662,664,666,668,670,672,674,676,678,680,682,684,686,688,690,692,694,696,698,700,702,704,706,708,709,710,712,714,716,718,720,722,724,726,728,730,732,734,736,738,740,742,744,746,748,750,752,754,756,758,760,762,763,764,766,769,771,773,776,778,780,781,783,785,787,789,791,793,794,795,796,797,798,799,800,801,803,804,805,806,807,808,809,810,811,813,814,815,816,817,818,819,820,821,823,825,826,827,828,829,830,831,833,835,837,839,841,843,845,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,871,873,875,877,879,880,881,882,883,884,885,886,887,888,889,890,892,894,896,898,900,902,904,905,906,907,908,909,910,912,914,916,917,918,919,920,921,922,924,926,928,930,932,934,936,938,940,942,944,945,946,947,948,949,950,951,952,953,954,956,958,959,960,961,962,963,964,966,967,968,969,970,971,972,973,974,976,978,980,982,983,984,986,988,989,990,991,992,993,994,995,996,997,998,1000,1002,1003,1004,1005,1006,1008,1010,1012,1014,1016,1017,1018,1019,1020,1021,1022,1023,1024,1026,1028,1030,1032,1034,1036,1038,1040,1042,1044,1046,1048,1050,1052,1054,1056,1058,1060,1062,1064,1066,1068,1070,1072,1074,1076,1078,1080,1082,1083,1085,1087,1089,1091,1093,1095,1098,1100,1102,1104,1106,1108,1110,1112,1114,1116,1118,1120,1122,1124,1126,1128,1130,1132,1134,1136,1137,1138,1139,1140,1142,1143,1144,1146,1148,1150,1152,1154,1156,1158,1160,1162,1164,1165,1166,1168,1170,1172,1174,1176,1178,1180,1182,1184,1186,1187,1188,1190,1192,1194,1196,1198,1200,1202,1204,1206,1208,1209,1210,1212,1214,1216,1218,1220,1222,1224,1226,1228,1230,1231,1232,1234,1236,1238,1240,1242,1244,1246,1248,1250,1252,1253,1254,1256,1258,1260,1262,1264,1266,1268,1270,1272,1274,1275,1276,1278,1280,1282,1284,1286,1288,1290,1292,1294,1296,1297,1298,1300,1302,1304,1306,1308,1310,1312,1314,1316,1318,1319,1320,1322,1324,1326,1328,1330,1332,1334,1336,1338,1340,1341,1342,1344,1346,1348,1350,1352,1354,1356,1358,1360,1362,1363,1364,1366,1368,1370,1372,1374,1376,1378,1380,1382,1384,1385,1386,1388,1390,1392,1394,1396,1398,1400,1402,1404,1406,1407,1408,1409,1410,1412,1414,1416,1418,1420,1422,1424,1426,1428,1429,1430,1431,1432,1434,1436,1438,1440,1442,1444,1446,1448,1450,1451,1452,1453,1454,1456,1458,1460,1462,1464,1466,1468,1470,1472,1473,1474,1475,1476,1478,1480,1482,1484,1486,1488,1490,1492,1494,1495,1496,1497,1498,1500,1502,1504,1506,1508,1510,1512,1514,1516,1517,1518,1519,1520,1522,1524,1526,1528,1530,1532,1534,1536,1538,1539,1540,1542,1544,1546,1548,1550,1552,1554,1556,1558,1560,1561,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1583,1584,1586,1588,1590,1592,1594,1596,1598,1600,1602,1604,1605,1606,1608,1610,1612,1614,1616,1618,1620,1622,1624,1626,1627,1628,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1649,1650,1651,1652,1654,1656,1658,1660,1662,1664,1666,1668,1670,1671,1672,1673,1674,1676,1678,1680,1682,1684,1686,1688,1690,1692,1693,1694,1695,1696,1698,1700,1702,1704,1706,1708,1710,1712,1714,1715,1716,1717,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1737,1738,1739,1740,1742,1744,1746,1748,1750,1752,1754,1756,1758,1759,1760,1761,1762,1764,1766,1768,1770,1772,1774,1776,1778,1780,1781,1782,1783,1784,1786,1788,1790,1792,1794,1796,1798,1800,1802,1803,1804,1805,1806,1808,1810,1812,1814,1816,1818,1820,1822,1824,1825,1826,1827,1828,1830,1832,1834,1836,1838,1840,1842,1844,1846,1847,1848,1849,1850,1852,1854,1856,1858,1860,1862,1864,1866,1868,1869,1870,1871,1872,1874,1876,1878,1880,1882,1884,1886,1888,1890,1891,1892,1893,1894,1896,1898,1900,1902,1904,1906,1908,1910,1912,1913,1914,1915,1916,1918,1920,1922,1924,1926,1928,1930,1932,1934,1935,1936,1938,1940,1942,1944,1946,1948,1950,1952,1954,1956,1957,1958,1960,1962,1964,1966,1968,1970,1972,1974,1976,1978,1979,1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2001,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024,2026,2028,2030,2032,2034,2036,2038,2040,2042,2044,2046,2048,2050,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2072,2074,2076,2078,2080,2082,2084,2086,2088,2090,2092,2094,2096,2098,2100,2102,2104,2106,2108,2110,2111,2112,2114,2116,2118,2120,2122,2124,2126,2128,2130,2132,2133,2134,2136,2138,2140,2142,2144,2146,2148,2150,2152,2154,2156,2158,2160,2162,2164,2166,2168,2170,2172,2174,2176,2177,2178,2180,2182,2184,2186,2188,2190,2192,2194,2196,2198,2200,2202,2204,2206,2208,2210,2212,2214,2216,2218,2220,2222,2224,2226,2228,2230,2232,2234,2236,2238,2240,2242,2244,2246,2248,2250,2252,2254,2256,2258,2260,2262,2264,2266,2268,2270,2272,2274,2276,2278,2280,2282,2284,2286,2288,2290) have mixed types. Specify dtype option on import or set low_memory=False.

,Panel ID,가중치,응답자 주소,시부/군부,시부/군부_labels,현거주지_13,현거주지_13_labels,거주지2,거주지2_labels,가구소득,...,장소-새벽 330-359,장소-새벽 330-359_labels,장소-새벽 400-429,장소-새벽 400-429_labels,장소-새벽 430-459,장소-새벽 430-459_labels,장소-새벽 500-529,장소-새벽 500-529_labels,장소-새벽 530-559,장소-새벽 530-559_labels
0,pid,weight,address,region,NaN,p_reg3,NaN,p_reg2,NaN,income2,...,p_di_f044,NaN,p_di_f045,NaN,p_di_f046,NaN,p_di_f047,NaN,p_di_f048,NaN
1,10101.0,1.01453,경기도 파주시 금촌동 ...,1.0,동,8.0,경기,2.0,경기/인천,3.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
2,10102.0,0.7031,경기도 파주시 금촌동 ...,1.0,동,8.0,경기,2.0,경기/인천,3.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
3,20101.0,0.85367,경기도 파주시 금촌2동 ...,1.0,동,8.0,경기,2.0,경기/인천,5.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
4,20102.0,0.59162,경기도 파주시 금촌2동 ...,1.0,동,8.0,경기,2.0,경기/인천,5.0,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안

In [7]:
data_2013 = pd.read_csv('2013-_.csv')
data_2013.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning:

Columns (0,1,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,89,90,91,92,93,94,96,97,98,100,101,102,104,105,106,108,109,111,113,115,116,117,118,119,120,121,122,123,124,125,127,128,129,131,132,133,135,136,137,139,140,141,143,144,145,147,148,149,151,152,153,155,156,157,159,160,161,163,164,165,167,169,171,173,175,177,179,181,183,185,187,189,191,193,195,197,199,201,203,205,207,209,211,213,215,217,219,221,223,225,227,229,231,233,235,237,239,241,243,245,247,249,251,253,255,257,259,261,263,265,267,269,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,293,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,315,317,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,341,342,343,344,345,346,347,348,349,350,351,352,353,355,357,359,361,363,365,367,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,385,387,389,391,392,393,394,395,396,397,398,399,401,403,405,407,409,411,413,415,417,419,421,423,425,427,429,431,433,435,436,437,438,439,440,441,443,445,447,448,449,451,453,454,455,456,457,458,459,460,461,463,465,466,467,469,471,473,475,477,479,481,483,485,487,489,491,492,493,494,496,497,499,501,503,505,507,508,509,511,513,514,515,516,517,518,519,521,523,525,527,529,531,533,535,537,538,539,540,541,542,543,544,545,546,547,548,549,551,553,555,557,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,577,579,581,583,584,585,586,587,588,589,591,593,595,597,599,601,603,605,607,609,610,611,612,613,614,615,616,617,618,619,620,621,623,625,627,629,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,649,651,653,655,656,657,658,659,660,661,662,663,664,665,667,669,670,671,673,674,675,677,679,680,681,683,684,685,687,688,689,691,692,693,695,697,699,701,703,705,707,709,711,713,715,717,719,721,723,725,727,729,731,733,735,737,739,740,741,743,745,747,749,751,753,755,757,759,761,763,765,767,769,771,773,775,777,779,781,782,783,784,786,788,790,792,794,796,798,799,800,801,802,803,804,806,807,808,809,810,811,812,814,816,817,818,819,820,821,822,823,824,826,828,829,830,831,832,833,834,836,838,840,842,844,846,848,850,852,854,856,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,878,880,882,884,886,888,890,891,892,893,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,920,921,922,923,924,926,928,930,931,932,933,934,935,936,937,938,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,990,992,994,996,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1018,1020,1021,1022,1023,1024,1026,1028,1030,1032,1034,1036,1038,1040,1041,1042,1043,1044,1045,1046,1049,1051,1053,1054,1055,1056,1057,1058,1059,1060,1061,1063,1065,1067,1069,1070,1072,1074,1076,1078,1080,1082,1084,1085,1086,1087,1088,1089,1090,1091,1092,1094,1096,1098,1100,1102,1104,1105,1106,1107,1108,1109,1110,1112,1114,1116,1118,1119,1120,1121,1122,1124,1125,1126,1127,1128,1130,1132,1134,1136,1137,1138,1139,1140,1141,1142,1144,1146,1148,1150,1151,1152,1153,1154,1155,1156,1158,1160,1162,1164,1166,1168,1170,1172,1174,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1202,1204,1205,1207,1209,1211,1213,1215,1217,1220,1222,1224,1226,1228,1230,1232,1234,1236,1238,1240,1242,1244,1246,1248,1250,1252,1254,1256,1258,1260,1262,1264,1265,1266,1268,1270,1272,1274,1276,1278,1280,1282,1284,1286,1287,1288,1290,1292,1294,1296,1298,1300,1302,1304,1306,1308,1309,1310,1312,1314,1316,1318,1320,1322,1324,1326,1328,1330,1331,1332,1334,1336,1338,1340,1342,1344,1346,1348,1350,1352,1353,1354,1356,1358,1360,1362,1364,1366,1368,1370,1372,1374,1375,1376,1378,1380,1382,1384,1386,1388,1390,1392,1394,1396,1397,1398,1400,1402,1404,1406,1408,1410,1412,1414,1416,1418,1419,1420,1422,1424,1426,1428,1430,1432,1434,1436,1438,1440,1441,1442,1444,1446,1448,1450,1452,1454,1456,1458,1460,1462,1463,1464,1466,1468,1470,1472,1474,1476,1478,1480,1482,1484,1485,1486,1488,1490,1492,1494,1496,1498,1500,1502,1504,1506,1507,1508,1510,1512,1514,1516,1518,1520,1522,1524,1526,1528,1529,1530,1531,1532,1534,1536,1538,1540,1542,1544,1546,1548,1550,1551,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1573,1574,1576,1578,1580,1582,1584,1586,1588,1590,1592,1594,1595,1596,1598,1600,1602,1604,1606,1608,1610,1612,1614,1616,1617,1618,1620,1622,1624,1626,1628,1630,1632,1634,1636,1638,1639,1640,1642,1644,1646,1648,1650,1652,1654,1656,1658,1660,1661,1662,1664,1666,1668,1670,1672,1674,1676,1678,1680,1682,1683,1684,1686,1688,1690,1692,1694,1696,1698,1700,1702,1704,1705,1706,1708,1710,1712,1714,1716,1718,1720,1722,1724,1726,1727,1728,1730,1732,1734,1736,1738,1740,1742,1744,1746,1748,1749,1750,1752,1754,1756,1758,1760,1762,1764,1766,1768,1770,1771,1772,1773,1774,1776,1778,1780,1782,1784,1786,1788,1790,1792,1793,1794,1796,1798,1800,1802,1804,1806,1808,1810,1812,1814,1815,1816,1818,1820,1822,1824,1826,1828,1830,1832,1834,1836,1837,1838,1840,1842,1844,1846,1848,1850,1852,1854,1856,1858,1859,1860,1862,1864,1866,1868,1870,1872,1874,1876,1878,1880,1881,1882,1884,1886,1888,1890,1892,1894,1896,1898,1900,1902,1903,1904,1906,1908,1910,1912,1914,1916,1918,1920,1922,1924,1925,1926,1927,1928,1930,1932,1934,1936,1938,1940,1942,1944,1946,1947,1948,1949,1950,1952,1954,1956,1958,1960,1962,1964,1966,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1980,1982,1984,1986,1988,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2002,2004,2006,2008,2010,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2024,2026,2028,2030,2032,2034,2035,2036,2037,2038,2039,2040,2041,2042,2044,2046,2048,2050,2052,2054,2056,2057,2058,2059,2060,2061,2062,2064,2066,2068,2070,2072,2074,2076,2078,2079,2080,2081,2082,2084,2086,2088,2090,2092,2094,2096,2098,2100,2101,2102,2103,2104,2106,2108,2110,2112,2114,2116,2118,2120,2121,2122,2123,2124,2126,2128,2130,2132,2134,2136,2138,2140,2142,2143,2144,2145,2146,2148,2150,2152,2154,2156,2158,2160,2162,2164,2165,2166,2168,2170,2172,2174,2176,2178,2180,2182,2184,2186,2187,2188,2190,2192,2194,2196,2198,2200,2202,2204,2206,2208,2209,2210,2212,2214,2216,2218,2220,2222,2224,2226,2228,2230,2231,2232,2234,2236,2238,2240,2242,2244,2246,2248,2250,2252,2253,2254,2256,2258,2260,2262,2264,2266,2268,2270,2272,2274,2275,2276,2278,2280,2282,2284,2286,2288,2290,2292,2294,2296,2297,2298,2300,2302,2304,2306,2308,2310,2312,2314,2316,2318,2320,2322,2324,2326,2328,2330,2332,2334,2336,2338,2340,2342,2344,2346,2348,2350,2352,2354,2356,2358,2360,2362,2364,2366,2368,2370,2372,2374,2376,2378,2380,2382,2384,2386,2388,2390,2392,2394,2396,2398,2400,2402,2404,2406,2408,2410,2412) have mixed types. Specify dtype option on import or set low_memory=False.

,Panel ID,가중치,도시규모,도시규모_labels,가구주와의 관계,가구주와의 관계 _labels,성별,성별 _labels,연령,연령_labels,...,장소-새벽 330-359,장소-새벽 330-359_labels,장소-새벽 400-429,장소-새벽 400-429_labels,장소-새벽 430-459,장소-새벽 430-459_labels,장소-새벽 500-529,장소-새벽 500-529_labels,장소-새벽 530-559,장소-새벽 530-559_labels
0,pid,weight,p_city_g,NaN,p_rel,NaN,p_sex,NaN,age1,NaN,...,p_di_f044,NaN,p_di_f045,NaN,p_di_f046,NaN,p_di_f047,NaN,p_di_f048,NaN
1,1.0,0.3356395,1.0,대도시,1.0,가구주,2.0,여성,53.0,53세,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
2,2.0,1.7174081,1.0,대도시,1.0,가구주,1.0,남성,60.0,60세,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
3,3.0,1.6560689,1.0,대도시,2.0,가구주의 배우자,2.0,여성,58.0,58세,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안
4,4.0,2.5405841,1.0,대도시,3.0,가주주의 자녀,1.0,남성,29.0,29세,...,1.0,집안,1.0,집안,1.0,집안,1.0,집안,1.0,집안

In [8]:
data_2014 = pd.read_csv('2014-_.csv')
data_2014.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning:

Columns (0,1,2,4,6,8,9,11,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,53,54,55,56,57,59,60,61,63,64,65,67,68,69,71,72,74,76,78,80,82,84,86,88,90,92,94,95,96,97,98,99,100,101,102,104,106,108,110,112,114,116,117,118,119,120,121,122,124,126,128,130,132,133,134,135,136,137,138,140,142,144,146,148,150,151,152,153,154,155,156,158,160,162,164,166,168,169,170,171,172,174,176,178,180,182,184,186,187,188,189,190,192,194,196,198,200,202,204,205,206,207,208,209,210,212,214,216,218,220,222,223,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,269,270,271,272,273,274,276,278,279,280,281,282,283,284,286,288,290,291,292,293,294,295,296,297,298,300,302,303,304,305,306,307,308,310,312,314,315,316,318,320,322,324,326,327,328,329,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,392,394,396,398,400,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,420,422,424,425,426,427,428,429,430,431,432,433,434,435,436,438,440,442,444,446,448,449,450,451,452,453,454,455,456,458,460,462,464,466,468,470,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,492,494,496,497,498,499,500,501,502,503,504,505,506,507,508,510,512,514,516,518,520,521,522,524,526,528,529,530,531,532,534,536,537,538,540,542,544,546,548,550,552,554,555,556,557,558,559,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,601,602,603,604,606,608,610,611,612,614,616,617,618,619,620,621,622,623,624,625,626,628,629,630,631,632,634,636,638,640,642,644,646,648,650,652,654,655,656,657,658,660,662,664,666,668,670,672,674,676,678,680,682,684,686,687,688,690,692,694,696,698,700,702,704,706,708,710,711,712,713,714,715,716,718,719,720,721,722,723,724,726,728,729,730,731,732,733,734,735,736,738,740,742,743,744,745,746,748,750,752,753,754,755,756,758,760,762,763,764,765,766,768,769,770,771,772,773,774,775,776,778,780,782,783,784,785,786,788,790,792,794,796,798,800,802,804,806,808,810,812,814,815,816,817,818,819,820,821,822,823,824,825,826,828,830,832,834,836,838,840,842,845,846,847,848,850,852,854,856,858,860,862,864,866,867,868,869,870,871,872,873,874,876,877,878,879,880,881,882,884,886,887,888,889,890,891,892,893,894,895,896,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,924,926,927,928,929,930,931,932,934,936,937,938,939,940,941,942,943,944,945,946,948,949,950,951,952,953,954,955,956,958,960,961,962,963,964,965,966,968,970,972,974,976,978,980,981,982,983,984,985,986,989,991,993,994,995,996,997,998,999,1000,1001,1003,1005,1007,1010,1012,1014,1016,1018,1020,1022,1023,1024,1026,1027,1028,1029,1030,1032,1034,1035,1036,1037,1038,1039,1040,1042,1043,1044,1045,1046,1048,1050,1051,1052,1054,1056,1058,1060,1062,1064,1066,1068,1070,1072,1074,1076,1078,1080,1082,1084,1086,1088,1090,1092,1094,1096,1098,1100,1102,1104,1106,1108,1109,1110,1112,1113,1114,1115,1116,1117,1118,1119,1120,1122,1124,1126,1128,1130,1132,1134,1136,1138,1139,1140,1141,1142,1143,1144,1145,1146,1148,1150,1152,1154,1156,1158,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1176,1178,1180,1182,1184,1185,1186,1187,1188,1190,1192,1194,1196,1198,1200,1202,1204,1206,1208,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1222,1224,1226,1228,1230,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1248,1250,1252,1254,1256,1258,1260,1262,1264,1266,1268,1270,1272,1274,1276,1278,1280,1281,1282,1283,1284,1285,1286,1287,1288,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1306,1308,1310,1311,1312,1314,1315,1316,1317,1318,1319,1320,1321,1322,1324,1326,1327,1328,1329,1330,1331,1333,1334,1336,1337,1338,1339,1340,1342,1344,1345,1346,1348,1350,1352,1353,1354,1356,1358,1359,1360,1362,1363,1364,1365,1366,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1380,1381,1382,1383,1384,1385,1386,1388,1390,1392,1394,1395,1396,1397,1398,1399,1400,1402,1404,1406,1408,1410,1412,1414,1416,1418,1420,1422,1424,1426,1428,1430,1432,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1460,1462,1463,1464,1465,1467,1469,1471,1473,1475,1477,1480,1482,1484,1486,1488,1490,1492,1494,1496,1498,1500,1502,1504,1506,1508,1510,1512,1514,1516,1518,1520,1522,1524,1526,1528,1530,1532,1534,1536,1538,1540,1542,1544,1546,1548,1550,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1584,1586,1588,1590,1592,1594,1596,1598,1600,1602,1604,1606,1608,1610,1612,1614,1616,1618,1620,1621,1622,1624,1626,1628,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1650,1651,1652,1654,1656,1658,1660,1662,1664,1666,1668,1670,1672,1674,1676,1678,1679,1680,1681,1682,1684,1686,1688,1690,1692,1694,1696,1698,1700,1702,1704,1706,1708,1709,1710,1711,1712,1714,1716,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1738,1739,1740,1741,1742,1744,1746,1748,1750,1752,1754,1756,1758,1760,1762,1764,1766,1768,1769,1770,1771,1772,1774,1776,1778,1780,1782,1784,1786,1788,1790,1792,1794,1796,1798,1799,1800,1802,1804,1806,1808,1810,1812,1814,1816,1818,1820,1822,1824,1826,1828,1829,1830,1832,1834,1836,1838,1840,1842,1844,1846,1848,1850,1852,1854,1856,1858,1859,1860,1862,1864,1866,1868,1870,1872,1874,1876,1878,1880,1882,1884,1886,1888,1889,1890,1892,1894,1896,1898,1900,1902,1904,1906,1908,1910,1912,1914,1916,1918,1920,1921,1922,1924,1926,1928,1930,1932,1934,1936,1938,1940,1942,1944,1946,1948,1950,1951,1952,1954,1956,1958,1960,1962,1964,1966,1968,1970,1972,1974,1976,1978,1980,1981,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2011,2012,2014,2016,2018,2020,2022,2024,2026,2028,2030,2032,2034,2036,2038,2040,2041,2042,2044,2046,2048,2050,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2071,2072,2074,2076,2078,2080,2082,2084,2086,2088,2090,2092,2094,2096,2098,2100,2101,2102,2104,2106,2108,2110,2112,2114,2116,2118,2120,2122,2124,2126,2128,2130,2131,2132,2134,2136,2138,2140,2142,2144,2146,2148,2150,2152,2154,2156,2158,2160,2161,2162,2163,2164,2166,2168,2170,2172,2174,2176,2178,2180,2182,2184,2186,2188,2190,2191,2192,2194,2196,2198,2200,2202,2204,2206,2208,2210,2212,2214,2216,2218,2220,2221,2222,2224,2226,2228,2230,2232,2234,2236,2238,2240,2242,2244,2246,2248,2250,2251,2252,2254,2256,2258,2260,2262,2264,2266,2268,2270,2272,2274,2276,2278,2280,2281,2282,2284,2286,2288,2290,2292,2294,2296,2298,2300,2302,2304,2306,2308,2310,2311,2312,2314,2316,2318,2320,2322,2324,2326,2328,2330,2332,2334,2336,2338,2340,2341,2342,2344,2346,2348,2350,2352,2354,2356,2358,2360,2362,2364,2366,2368,2370,2371,2372,2374,2376,2378,2380,2382,2384,2386,2388,2390,2392,2394,2396,2398,2400,2401,2402,2404,2406,2408,2410,2412,2414,2416,2418,2420,2422,2424,2426,2428,2430,2431,2432,2434,2436,2438,2440,2442,2444,2446,2448,2450,2452,2454,2456,2458,2460,2461,2462,2464,2466,2468,2470,2472,2474,2476,2478,2480,2482,2484,2486,2488,2490,2491,2492,2494,2496,2498,2500,2502,2504,2506,2508,2510,2512,2514,2516,2518,2520,2521,2522,2524,2526,2528,2530,2532,2534,2536,2538,2540,2542,2544,2546,2548,2550,2551,2552,2553,2554,2556,2558,2560,2562,2564,2566,2568,2570,2572,2574,2576,2578,2580,2581,2582,2583,2584,2586,2588,2590,2592,2594,2596,2598,2600,2602,2604,2606,2608,2610,2611,2612,2613,2614,2616,2618,2620,2622,2624,2626,2628,2630,2632,2634,2636,2638,2640,2641,2642,2644,2646,2648,2650,2652,2654,2656,2658,2660,2662,2664,2666,2668,2670,2671,2672,2674,2676,2678,2680,2682,2684,2686,2688,2690,2692,2694,2696,2698,2700,2701,2702,2704,2706,2708,2710,2712,2714,2716,2718,2720,2722,2724,2726,2728,2730,2731,2732,2733,2734,2736,2738,2740,2742,2744,2746,2748,2750,2752,2754,2756,2758,2760,2761,2762,2763,2764,2765,2766,2768,2770,2772,2774,2776,2778,2780,2782,2784,2786,2788,2790,2791,2792,2793,2794,2795,2796,2798,2800,2802,2804,2806,2808,2810,2812,2814,2816,2818,2820,2821,2822,2823,2824,2825,2826,2828,2830,2832,2834,2836,2838,2840,2842,2844,2846,2848,2850,2851,2852,2853,2854,2855,2856,2858,2860,2862,2864,2866,2868,2870,2872,2874,2876,2878,2880,2881,2882,2883,2884,2885,2886,2888,2890,2892,2894,2896,2898,2900,2902,2904,2906,2908,2910,2911,2912,2913,2914,2916,2918,2920,2922,2924,2926,2928,2930,2932,2934,2936,2938,2940,2941,2942,2943,2944,2946,2948,2950,2952,2954,2956,2958,2960,2962,2964,2966,2968,2970,2971,2972,2973,2974,2976,2978,2980,2982,2984,2986,2988,2990,2992,2994,2996,2998,3000,3001,3002,3003,3004,3006,3008,3010,3012,3014,3016,3018,3020,3022,3024,3026,3028,3030,3031,3032,3033,3034,3036,3038,3040,3042,3044,3046,3048,3050,3052,3054,3056,3058,3060,3061,3062,3064,3066,3068,3069,3070,3072,3074,3075,3076,3077,3078,3080,3082,3083,3084,3085,3086,3088,3090,3091,3092,3093,3094,3096,3098,3099,3100,3101,3102,3104,3106,3107,3108,3110,3112,3114,3115,3116,3118,3120,3122,3123,3124,3126,3128,3130,3131,3132,3134,3136,3138,3140,3141,3142,3144,3146,3148,3149,3150,3152,3154,3156,3157,3158,3160,3162,3164,3165,3166,3168,3170,3172,3173,3174,3176,3178,3180,3181,3182,3184,3186,3188,3189,3190,3192,3194,3196,3197,3198,3200,3202,3204,3205,3206,3208,3210,3212,3213,3214,3216,3218,3220,3221,3222,3224,3226,3228,3229,3230,3232,3234,3236,3237,3238,3240,3242,3244,3245,3246,3248,3250,3252,3253,3254,3256,3258,3260,3261,3262,3264,3266,3268,3269,3270,3272,3274,3276,3277,3278,3280,3282,3284,3285,3286,3288,3290,3292,3293,3294,3296,3298,3300,3301,3302,3304,3306,3308,3309,3310,3311,3312,3314,3316,3317,3318,3319,3320,3322,3324,3325,3326,3327,3328,3330,3332,3333,3334,3336,3338,3340,3341,3342,3344,3346,3348,3349,3350,3352,3354,3356,3357,3358,3359,3360,3362,3364,3365,3366,3367,3368,3370,3372,3373,3374,3375,3376,3378,3380,3381,3382,3383,3384,3386,3388,3389,3390,3392,3394,3396,3397,3398,3399,3400,3402,3404,3405,3406,3407,3408,3410,3412,3413,3414,3415,3416,3418,3420,3421,3422,3423,3424,3426,3428,3429,3430,3431,3432,3434,3436,3437,3438,3440,3442,3444,3445,3446,3448,3450,3452,3454,3455,3456,3458,3460,3462,3463,3464,3465,3466,3468,3470,3472,3473,3474,3475,3476,3478,3480,3482,3483,3484,3485,3486,3488,3490,3492,3493,3494,3495,3496,3498,3500,3502,3503,3504,3506,3508,3510,3512,3513,3514,3516,3518,3520,3522,3523,3524,3526,3528,3530,3532,3533,3534,3536,3538,3540,3542,3544,3545,3546,3548,3550,3552,3554,3555,3556,3558,3560,3562,3564,3565,3566,3568,3570,3572,3574,3575,3576,3578,3580,3582,3584,3585,3586,3588,3590,3592,3594,3595,3596,3598,3600,3602,3604,3605,3606,3608,3610,3612,3614,3615,3616,3618,3620,3622,3624,3625,3626,3628,3630,3632,3634,3635,3636,3638,3640,3642,3644,3645,3646,3648,3650,3652,3654,3655,3656,3658,3660,3662,3664,3665,3666,3668,3670,3672,3674,3675,3676,3678,3680,3682,3684,3685,3686,3688,3690,3692,3694,3695,3696,3698,3700,3702,3704,3705,3706,3708,3710,3712,3714,3715,3716,3718,3720,3722,3724,3725,3726,3728,3730,3732,3734,3735,3736,3738,3740,3742,3744,3745,3746,3748,3750,3752,3754,3755,3756,3758,3760,3762,3764,3765,3766,3768,3770,3772,3774,3775,3776,3778,3780,3782,3784,3785,3786,3788,3790,3792,3794,3795,3796,3798,3800,3802,3804,3805,3806,3808,3810,3812,3814,3815,3816,3818,3820,3822,3824,3825,3826,3827,3828,3830,3832,3834,3835,3836,3837,3838,3840,3842,3844,3845,3846,3847,3848,3850,3852,3854,3855,3856,3857,3858,3860,3862,3864,3865,3866,3867,3868,3870,3872,3874,3875,3876,3877,3878,3880,3882,3884,3885,3886,3888,3890,3892,3894,3895,3896,3897,3898,3900,3902,3904,3905,3906,3907,3908,3910,3912,3914,3915,3916,3917,3918,3920) have mixed types. Specify dtype option on import or set low_memory=False.

,Panel ID,가중치,시부/군부,시부/군부_labels,성별,성별 _labels,연령구분,연령구분_labels,연령,혼인상태,...,미디어 이용 플랫폼- 새벽 1230-1259 - 1,미디어 이용 플랫폼- 새벽 1230-1259 - 1_labels,미디어 이용 플랫폼- 새벽 1230-1259 - 2,미디어 이용 플랫폼- 새벽 1230-1259 - 2_labels,미디어 이용 플랫폼- 새벽 1230-1259 - 3,미디어 이용 플랫폼- 새벽 1230-1259 - 3_labels,미디어 이용 플랫폼- 새벽 1230-1259 - 4,미디어 이용 플랫폼- 새벽 1230-1259 - 4_labels,미디어 이용 플랫폼- 새벽 1230-1259 - 5,미디어 이용 플랫폼- 새벽 1230-1259 - 5_labels
0,pid,weight,region,NaN,p_sex,NaN,age2,NaN,age1,p_mar,...,p_di_e048_m01,NaN,p_di_e048_m02,NaN,p_di_e048_m03,NaN,p_di_e048_m04,NaN,p_di_e048_m05,NaN
1,101.0,1.11790412,1.0,동,1.0,남,6.0,60세 이상,63.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,102.0,1.159904,1.0,동,1.0,남,3.0,30대,35.0,1.0,...,5.0,라디오 프로그램 청취,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201.0,0.60850287,1.0,동,2.0,여,4.0,40대,44.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202.0,0.80529547,1.0,동,1.0,남,4.0,40대,46.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data_2015 = pd.read_csv('2015-_.csv')
data_2015.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning:

Columns (0,1,2,4,6,8,10,12,14,17,19,21,23,25,27,29,31,33,35,37,39,40,41,42,43,44,46,47,48,50,51,52,54,55,56,58,59,61,63,65,67,69,71,73,75,77,79,81,82,83,84,85,86,87,88,89,91,93,95,97,99,101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,150,151,152,153,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,171,173,175,177,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,195,197,199,201,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,227,228,229,230,231,232,233,234,235,237,239,241,243,245,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,271,273,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,293,295,297,299,300,301,302,303,304,305,306,307,309,311,313,315,317,319,321,323,325,327,329,331,333,335,337,339,341,343,344,345,346,347,348,349,350,351,353,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,405,406,407,408,409,411,413,415,417,419,421,423,425,427,429,430,431,432,433,435,437,439,441,443,445,447,449,451,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,523,524,525,526,527,528,529,530,531,533,535,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,563,565,567,568,569,570,571,573,575,577,578,579,580,581,582,583,585,587,588,589,590,591,592,593,594,595,597,598,599,600,601,602,603,604,605,607,608,609,610,611,612,613,615,617,618,619,620,621,623,625,627,628,629,630,631,632,633,635,637,638,639,640,641,642,643,644,645,646,647,649,651,652,653,654,655,656,657,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,683,686,688,689,690,691,692,693,694,695,696,698,700,702,704,706,708,710,712,714,716,717,718,719,720,721,722,723,724,726,728,730,732,734,736,738,740,742,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,766,768,770,772,773,774,776,778,780,782,784,786,788,790,792,793,794,795,796,797,798,799,800,801,802,804,806,808,810,812,814,815,816,817,818,819,820,821,822,824,825,826,827,828,830,832,834,836,837,838,839,840,841,842,843,844,846,848,849,850,851,852,853,854,856,858,860,862,863,864,865,866,867,868,870,872,873,874,875,876,878,880,882,884,886,888,890,892,894,895,896,897,898,900,901,902,903,904,905,906,907,908,910,911,912,913,914,916,918,920,922,924,926,928,930,932,934,936,938,940,942,944,946,948,950,952,954,956,958,960,962,964,965,966,967,968,969,970,971,972,974,975,976,977,978,979,980,981,982,983,984,985,986,988,990,992,994,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1012,1014,1016,1018,1020,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1034,1036,1038,1040,1042,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1056,1058,1060,1062,1064,1066,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1090,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1106,1108,1110,1112,1114,1116,1118,1120,1122,1124,1126,1128,1130,1132,1134,1136,1138,1140,1142,1143,1144,1145,1146,1147,1148,1149,1150,1152,1154,1155,1156,1157,1158,1159,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1182,1184,1185,1186,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1200,1202,1204,1206,1207,1208,1209,1210,1212,1214,1216,1218,1220,1221,1222,1223,1224,1226,1228,1230,1232,1234,1236,1238,1240,1242,1244,1246,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1286,1288,1289,1290,1291,1293,1295,1297,1299,1301,1303,1304,1306,1308,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1332,1334,1336,1338,1340,1342,1344,1346,1348,1350,1352,1354,1356,1358,1360,1362,1364,1366,1368,1370,1372,1374,1376,1378,1380,1382,1384,1386,1388,1390,1392,1394,1396,1398,1400,1402,1404,1406,1408,1410,1412,1414,1416,1418,1420,1422,1424,1426,1428,1430,1432,1434,1436,1438,1440,1442,1444,1446,1448,1450,1452,1454,1455,1456,1458,1460,1462,1464,1466,1468,1470,1472,1474,1476,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1500,1502,1504,1506,1508,1510,1512,1514,1516,1518,1520,1522,1524,1526,1528,1530,1532,1534,1536,1538,1540,1542,1544,1546,1548,1550,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1584,1586,1588,1590,1592,1594,1596,1598,1600,1602,1604,1606,1608,1610,1612,1614,1616,1618,1620,1622,1623,1624,1626,1628,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1650,1652,1654,1656,1658,1660,1662,1664,1666,1668,1670,1672,1674,1676,1678,1680,1682,1684,1686,1688,1690,1692,1694,1696,1698,1700,1702,1704,1706,1708,1710,1712,1714,1716,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1738,1740,1742,1744,1746,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1786,1788,1790,1792,1794,1796,1798,1800,1802,1804,1806,1808,1810,1811,1812,1813,1814,1816,1818,1820,1822,1824,1826,1828,1830,1832,1834,1836,1838,1840,1841,1842,1844,1846,1848,1850,1852,1854,1856,1858,1860,1862,1864,1866,1868,1870,1871,1872,1874,1876,1878,1880,1882,1884,1886,1888,1890,1892,1894,1896,1898,1900,1901,1902,1904,1906,1908,1910,1912,1914,1916,1918,1920,1922,1924,1926,1928,1930,1931,1932,1934,1936,1938,1940,1942,1944,1946,1948,1950,1952,1954,1956,1958,1960,1961,1962,1964,1966,1968,1970,1972,1974,1976,1978,1980,1982,1984,1986,1988,1990,1991,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2021,2022,2024,2026,2028,2030,2032,2034,2036,2038,2040,2042,2044,2046,2048,2050,2051,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2072,2074,2076,2078,2080,2081,2082,2083,2084,2086,2088,2090,2092,2094,2096,2098,2100,2102,2104,2106,2108,2110,2111,2112,2113,2114,2116,2118,2120,2122,2124,2126,2128,2130,2132,2134,2136,2138,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2162,2164,2166,2168,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2196,2198,2200,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2226,2228,2230,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2256,2258,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2278,2280,2282,2284,2286,2288,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2308,2310,2312,2314,2316,2318,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2340,2342,2344,2346,2348,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2370,2372,2374,2376,2378,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2398,2400,2402,2404,2406,2408,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2428,2430,2432,2434,2436,2438,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2454,2456,2458,2460,2462,2464,2466,2468,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2484,2486,2488,2490,2492,2494,2496,2498,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2514,2516,2518,2520,2522,2524,2526,2528,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2544,2546,2548,2550,2552,2554,2556,2558,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2574,2576,2578,2580,2582,2584,2586,2588,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2604,2606,2608,2610,2612,2614,2616,2618,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2634,2636,2638,2640,2642,2644,2646,2648,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2664,2666,2668,2670,2672,2674,2676,2678,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2694,2696,2698,2700,2702,2704,2706,2708,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2724,2726,2728,2730,2732,2734,2736,2738,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2754,2756,2758,2760,2762,2764,2766,2768,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2784,2786,2788,2790,2792,2794,2796,2798,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2814,2816,2818,2820,2822,2824,2826,2828,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2844,2846,2848,2850,2852,2854,2856,2858,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2874,2876,2878,2880,2882,2884,2886,2888,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2904,2906,2908,2910,2912,2914,2916,2918,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2932,2934,2936,2938,2940,2942,2944,2946,2948,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2962,2964,2966,2968,2970,2972,2974,2976,2978,2980,2982,2983,2984,2985,2986,2987,2988,2989,2990,2992,2994,2996,2998,3000,3002,3004,3006,3008,3010,3012,3013,3014,3015,3016,3017,3018,3019,3020,3022,3024,3026,3028,3030,3032,3034,3036,3038,3040,3042,3043,3044,3046,3048,3050,3052,3054,3056,3058,3060,3062,3064,3066,3068,3070,3072,3073,3074,3076,3078,3080,3082,3084,3086,3088,3090,3092,3094,3096,3098,3100,3101,3102,3103,3104,3105,3106,3108,3110,3112,3114,3116,3118,3120,3122,3124,3126,3128,3130,3131,3132,3133,3134,3135,3136,3138,3140,3142,3144,3146,3148,3150,3152,3154,3156,3158,3160,3161,3162,3163,3164,3165,3166,3168,3170,3172,3174,3176,3178,3180,3182,3184,3186,3188,3190,3191,3192,3193,3194,3195,3196,3198,3200,3202,3204,3206,3208,3210,3212,3214,3216,3218,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3334,3335,3336,3337,3338,3339,3340,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388,3389,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428,3429,3430,3431,3432,3433,3434,3435,3436,3437,3438,3439,3440,3441,3442,3443,3444,3445,3446,3447,3448,3449,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477,3478,3479,3480,3481,3482,3483,3484,3485,3486,3487,3488,3489,3490,3491,3492,3493,3494,3495,3496,3497,3498,3499,3500,3501,3502,3503,3504,3505,3506,3507,3508,3509,3510,3511,3512,3513,3514,3515,3516,3517,3518,3519,3520,3521,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3542,3543,3544,3545,3546,3547,3548,3550,3551,3552,3553,3554,3555,3556,3558,3559,3560,3561,3562,3563,3564,3566,3567,3568,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578,3579,3580,3581,3582,3583,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599,3600,3601,3602,3603,3604,3605,3606,3607,3608,3609,3610,3611,3612,3613,3614,3615,3616,3617,3618,3619,3620,3621,3622,3623,3624,3625,3626,3627,3628,3629,3630,3631,3632,3633,3634,3635,3636,3637,3638,3639,3640,3641,3642,3643,3644,3645,3646,3647,3648,3649,3650,3651,3652,3653,3654,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664,3665,3666,3667,3668,3669,3670,3671,3672,3673,3674,3675,3676,3677,3678,3679,3680,3681,3682,3683,3684,3685,3686,3687,3688,3689,3690,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700,3701,3702,3703,3704,3705,3706,3707,3708,3710,3712,3713,3714,3715,3716,3717,3718,3720,3722,3723,3724,3725,3726,3727,3728,3729,3730,3731,3732,3733,3734,3735,3736,3737,3738,3739,3740,3741,3742,3743,3744,3746,3747,3748,3749,3750,3751,3752,3753,3754,3756,3757,3758,3759,3760,3761,3762,3763,3764,3765,3766,3767,3768,3769,3770,3771,3772,3773,3774,3775,3776,3777,3778,3779,3780,3781,3782,3783,3784,3785,3786,3787,3788,3789,3790,3791,3792,3793,3794,3795,3796,3797,3798,3799,3800,3801,3802,3803,3804,3805,3806,3807,3808,3809,3810,3811,3812,3813,3814,3815,3816,3817,3818,3819,3820,3821,3822,3823,3824,3825,3826,3827,3828,3829,3830,3831,3832,3833,3834,3835,3836,3837,3838,3839,3840,3841,3842,3843,3844,3845,3846,3847,3848,3849,3850,3851,3852,3853,3854,3855,3856,3857,3858,3859,3860,3861,3862,3863,3864,3865,3866,3867,3868,3869,3870,3871,3872,3873,3874,3875,3876,3877,3878,3879,3880,3881,3882,3883,3884,3885,3886,3887,3888,3889,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900,3901,3902,3903,3904,3905,3906,3907,3908,3909,3910,3911,3912,3913,3914,3915,3916,3917,3918,3919,3920,3921,3922,3923,3924,3925,3926,3927,3928,3929,3930,3931,3932,3933,3934,3935,3936,3937,3938,3939,3940,3941,3942,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952,3953,3954,3955,3956,3957,3958,3959,3960,3961,3962,3963,3964,3965,3966,3967,3968,3969,3970,3971,3972,3973,3974,3975,3976,3977,3978,3979,3980,3981,3982,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000,4001,4002,4003,4004,4006,4007,4008,4009,4010,4011,4012,4013,4014,4016,4017,4018,4019,4020,4021,4022,4023,4024,4026,4027,4028,4029,4030,4031,4032,4033,4034,4036,4037,4038,4039,4040,4041,4042,4043,4044,4045,4046,4047,4048,4049,4050,4051,4052,4053,4054,4055,4056,4057,4058,4059,4060,4061,4062,4063,4064,4065,4066,4067,4068,4069,4070,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080,4081,4082,4083) have mixed types. Specify dtype option on import or set low_memory=False.

,Panel ID,가중치,시청방송형태 지상파,시청방송형태 지상파 _labels,시청방송형태 유선,시청방송형태 유선 _labels,시청방송형태 위성,시청방송형태 위성 _labels,시청방송형태 IPTV,시청방송형태 IPTV _labels,...,미디어 이용 플랫폼- 새벽 1230-1259 - 1,미디어 이용 플랫폼- 새벽 1230-1259 - 1 _labels,미디어 이용 플랫폼- 새벽 1230-1259 - 2,미디어 이용 플랫폼- 새벽 1230-1259 - 2 _labels,미디어 이용 플랫폼- 새벽 1230-1259 - 3,미디어 이용 플랫폼- 새벽 1230-1259 - 3 _labels,미디어 이용 플랫폼- 새벽 1230-1259 - 4,미디어 이용 플랫폼- 새벽 1230-1259 - 4 _labels,미디어 이용 플랫폼- 새벽 1230-1259 - 5,미디어 이용 플랫폼- 새벽 1230-1259 - 5 _labels
0,pid,weight,p_ba_tv,NaN,p_ca_tv,NaN,p_sky,NaN,p_iptv,NaN,...,p_di_e048_m01,NaN,p_di_e048_m02,NaN,p_di_e048_m03,NaN,p_di_e048_m04,NaN,p_di_e048_m05,NaN
1,101.0,0.449012,2.0,비이용,1.0,이용,2.0,비이용,2.0,비이용,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,102.0,0.870387,2.0,비이용,1.0,이용,2.0,비이용,2.0,비이용,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201.0,0.449012,2.0,비이용,2.0,비이용,1.0,이용,1.0,이용,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202.0,0.870387,2.0,비이용,2.0,비이용,1.0,이용,1.0,이용,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#age

#age_09 = pd.DataFrame(pd.value_counts(data_2009['연령구분_labels'].values, sort = True).rename('age_09')) 09년도는 년도로 나와있어 가공해야할 듯
age_10 = pd.DataFrame(pd.value_counts(data_2010['연령구분_labels'].values, sort = True).rename('2010')).rename({'60대이상':'60대 이상'})
age_10.loc['20대 이하'] = age_10.loc['10대'] + age_10.loc['20대']
age_10 = age_10.drop(['20대','10대'])

age_11 = pd.DataFrame(pd.value_counts(data_2011['연령구분_labels'].values, sort = True).rename('2011')).rename({'60세 이상':'60대 이상'})
age_11.loc['20대 이하'] = age_11.loc['10대'] + age_11.loc['20대']
age_11 = age_11.drop(['20대','10대'])

age_12 = pd.DataFrame(pd.value_counts(data_2012['연령구분_labels'].values, sort = True).rename('2012')).rename({'60세 이상':'60대 이상'})
age_12.loc['20대 이하'] = age_12.loc['10대'] + age_12.loc['20대']
age_12 = age_12.drop(['20대','10대'])

age_13 = pd.DataFrame(pd.value_counts(data_2013['연령구분_labels'].values, sort = True).rename('2013')).rename({'60세 이상':'60대 이상'})

age_14 = pd.DataFrame(pd.value_counts(data_2014['연령구분_labels'].values, sort = True).rename('2014')).rename({'60세 이상':'60대 이상'})
age_14.loc['20대 이하'] = age_14.loc['10대'] + age_14.loc['20대']
age_14 = age_14.drop(['20대','10대'])

age_15 = pd.DataFrame(pd.value_counts(data_2015['연령구분  _labels'].values, sort = True).rename('2015')).rename({'60세 이상':'60대 이상'})
age_15.loc['20대 이하'] = age_15.loc['10대'] + age_15.loc['20대']
age_15 = age_15.drop(['20대','10대'])

age = pd.concat([age_10, age_11, age_12, age_13, age_14, age_15], axis=1)
age

        2010  2011  2012  2013  2014  2015
20대 이하  1071  1203  1001   924   882  1023
30대     1165  1173  1104  1050   943  1079
40대     1146  1243  1147  1045  1042  1317
50대      975  1097  1099  1064  1028  1349
60대 이상  2052  1953  2090  2157  2147  2785

In [11]:
m_console_10 = pd.DataFrame(pd.value_counts(data_2010['휴대형게임기 소유 여부1_labels'].values, sort = True).rename('2010'))
m_console_11 = pd.DataFrame(pd.value_counts(data_2011['휴대형게임기 소유 여부1_labels'].values, sort = True).rename('2011'))
m_console_12 = pd.DataFrame(pd.value_counts(data_2012['휴대형게임기 소유 여부1_labels'].values, sort = True).rename('2012'))
m_console_13 = pd.DataFrame(pd.value_counts(data_2013['휴대형게임기 소유 여부1_labels'].values, sort = True).rename('2013'))
m_console_14 = pd.DataFrame(pd.value_counts(data_2014['휴대형게임기 소유 여부1_labels'].values, sort = True).rename('2014'))
m_console_15 = pd.DataFrame(pd.value_counts(data_2015['휴대형게임기 소유 여부1 _labels'].values, sort = True).rename('2015'))

m_console = pd.concat([m_console_10, m_console_11, m_console_12, m_console_13, m_console_14, m_console_15], axis=1)
m_console

    2010  2011  2012  2013  2014  2015
없다  6188  6465  6060  6121  5965  7444
있다   221   204   381   119    77   109

In [12]:
m_console_per = m_console/m_console.sum()*100
m_console_per

         2010       2011       2012       2013       2014       2015
없다  96.551724  96.941071  94.084769  98.092949  98.725588  98.556865
있다   3.448276   3.058929   5.915231   1.907051   1.274412   1.443135

In [13]:
list_per = m_console_per.values.tolist()
year = [2010, 2011, 2012, 2013, 2014, 2015]

graph_data = [go.Scatter(x = year,y = list_per[1], name = '휴대형게임기 소유 비중')]

py.iplot(graph_data)

In [14]:
m_console_have_10 = data_2010[data_2010['휴대형게임기 소유 여부1_labels'] == '있다']
m_console_age_10 = pd.DataFrame(pd.value_counts(m_console_have_10['연령구분_labels'].values, sort = True).rename('2010')).rename({'60대이상':'60대 이상'})
m_console_age_10.loc['20대 이하'] = m_console_age_10.loc['10대'] + m_console_age_10.loc['20대']
m_console_age_10 = m_console_age_10.drop(['20대','10대'])

m_console_have_11 = data_2011[data_2011['휴대형게임기 소유 여부1_labels'] == '있다']
m_console_age_11 = pd.DataFrame(pd.value_counts(m_console_have_11['연령구분_labels'].values, sort = True).rename('2011')).rename({'60세 이상':'60대 이상'})
m_console_age_11.loc['20대 이하'] = m_console_age_11.loc['10대'] + m_console_age_11.loc['20대']
m_console_age_11 = m_console_age_11.drop(['20대','10대'])

m_console_have_12 = data_2012[data_2012['휴대형게임기 소유 여부1_labels'] == '있다']
m_console_age_12 = pd.DataFrame(pd.value_counts(m_console_have_12['연령구분_labels'].values, sort = True).rename('2012')).rename({'60세 이상':'60대 이상'})
m_console_age_12.loc['20대 이하'] = m_console_age_12.loc['10대'] + m_console_age_12.loc['20대']
m_console_age_12 = m_console_age_12.drop(['20대','10대'])

m_console_have_13 = data_2013[data_2013['휴대형게임기 소유 여부1_labels'] == '있다']
m_console_age_13 = pd.DataFrame(pd.value_counts(m_console_have_13['연령구분_labels'].values, sort = True).rename('2013')).rename({'60세 이상':'60대 이상'})

m_console_have_14 = data_2014[data_2014['휴대형게임기 소유 여부1_labels'] == '있다']
m_console_age_14 = pd.DataFrame(pd.value_counts(m_console_have_14['연령구분_labels'].values, sort = True).rename('2014')).rename({'60세 이상':'60대 이상'})
m_console_age_14.loc['20대 이하'] = m_console_age_14.loc['10대'] + m_console_age_14.loc['20대']
m_console_age_14 = m_console_age_14.drop(['20대','10대'])

m_console_have_15 = data_2015[data_2015['휴대형게임기 소유 여부1 _labels'] == '있다']
m_console_age_15 = pd.DataFrame(pd.value_counts(m_console_have_15['연령구분  _labels'].values, sort = True).rename('2015')).rename({'60세 이상':'60대 이상'})
m_console_age_15.loc['20대 이하'] = m_console_age_15.loc['10대'] + m_console_age_15.loc['20대']
m_console_age_15 = m_console_age_15.drop(['20대','10대'])

m_console_age = pd.concat([m_console_age_10, m_console_age_11, m_console_age_12, m_console_age_13, m_console_age_14, m_console_age_15], axis=1)
m_console_age

        2010  2011  2012  2013  2014  2015
20대 이하   118    96    91    47    33    29
30대       59    63    88    37    24    37
40대       32    37    95    26    18    28
50대        6     4    53     8     1    12
60대 이상     6     4    54     1     1     3

In [15]:
list_age = m_console_age.values.tolist()
year = [2010, 2011, 2012, 2013, 2014, 2015]

graph_data = [go.Scatter(x = year,y = list_age[0], name = 'under 20'), go.Scatter(x = year,y = list_age[1], name = '30'),
             go.Scatter(x = year,y = list_age[2], name = '40'), go.Scatter(x = year,y = list_age[3], name = '50'),
             go.Scatter(x = year,y = list_age[4], name = 'over 60')]

py.iplot(graph_data)

In [16]:
graph_data = [go.Scatter(x = year,y = list_age[1], name = '30'),
             go.Scatter(x = year,y = list_age[2], name = '40'), go.Scatter(x = year,y = list_age[3], name = '50'),
             go.Scatter(x = year,y = list_age[4], name = 'over 60')]

py.iplot(graph_data)

In [17]:
graph_data = [go.Scatter(x = year,y = list_age[0], name = 'under 20')]

py.iplot(graph_data)

In [18]:
label_age = ["20대 이하", "30", "40", "50", "60"]
pie_data = {
  "data": [
    {
      "values": m_console_age["2010"],
      "labels": label_age,
      "domain": {"x": [0, .48],
                "y" : [.70, 1]},
      "name": "2010",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },     
    {
      "values": m_console_age["2011"],
      "labels": label_age,
      "domain": {"x" : [.52, 1],
                "y" : [.70, 1]},
      "name": "2011",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },
    {
      "values": m_console_age["2012"],
      "labels": label_age,
      "domain": {"x" : [0, .48],
                "y" : [.35, .65]},
      "name": "2012",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },
    {
      "values": m_console_age["2013"],
      "labels": label_age,
      "domain": {"x" : [.52, 1],
                "y" : [.35, .65]},
      "name": "2013",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },
    {
      "values": m_console_age["2014"],
      "labels": label_age,
      "domain": {"x" : [0, .48],
                "y" : [0, .30]},
      "name": "2014",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    },
    {
      "values": m_console_age["2015"],
      "labels": label_age,
      "domain": {"x" : [.52, 1],
                "y" : [0, .30]},
      "name": "2015",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    }
  ]}

py.iplot(pie_data)

In [19]:
m_dconsole_have_10 = data_2010[data_2010['휴대형게임기 소유 여부1_labels'] == '없다']
m_dconsole_age_10 = pd.DataFrame(pd.value_counts(m_dconsole_have_10['연령구분_labels'].values, sort = True).rename('2010')).rename({'60대이상':'60대 이상'})
m_dconsole_age_10.loc['20대 이하'] = m_dconsole_age_10.loc['10대'] + m_dconsole_age_10.loc['20대']
m_dconsole_age_10 = m_dconsole_age_10.drop(['20대','10대'])

m_dconsole_have_11 = data_2011[data_2011['휴대형게임기 소유 여부1_labels'] == '없다']
m_dconsole_age_11 = pd.DataFrame(pd.value_counts(m_dconsole_have_11['연령구분_labels'].values, sort = True).rename('2011')).rename({'60세 이상':'60대 이상'})
m_dconsole_age_11.loc['20대 이하'] = m_dconsole_age_11.loc['10대'] + m_dconsole_age_11.loc['20대']
m_dconsole_age_11 = m_dconsole_age_11.drop(['20대','10대'])

m_dconsole_have_12 = data_2012[data_2012['휴대형게임기 소유 여부1_labels'] == '없다']
m_dconsole_age_12 = pd.DataFrame(pd.value_counts(m_dconsole_have_12['연령구분_labels'].values, sort = True).rename('2012')).rename({'60세 이상':'60대 이상'})
m_dconsole_age_12.loc['20대 이하'] = m_dconsole_age_12.loc['10대'] + m_dconsole_age_12.loc['20대']
m_dconsole_age_12 = m_dconsole_age_12.drop(['20대','10대'])

m_dconsole_have_13 = data_2013[data_2013['휴대형게임기 소유 여부1_labels'] == '없다']
m_dconsole_age_13 = pd.DataFrame(pd.value_counts(m_dconsole_have_13['연령구분_labels'].values, sort = True).rename('2013')).rename({'60세 이상':'60대 이상'})

m_dconsole_have_14 = data_2014[data_2014['휴대형게임기 소유 여부1_labels'] == '없다']
m_dconsole_age_14 = pd.DataFrame(pd.value_counts(m_dconsole_have_14['연령구분_labels'].values, sort = True).rename('2014')).rename({'60세 이상':'60대 이상'})
m_dconsole_age_14.loc['20대 이하'] = m_dconsole_age_14.loc['10대'] + m_dconsole_age_14.loc['20대']
m_dconsole_age_14 = m_dconsole_age_14.drop(['20대','10대'])

m_dconsole_have_15 = data_2015[data_2015['휴대형게임기 소유 여부1 _labels'] == '없다']
m_dconsole_age_15 = pd.DataFrame(pd.value_counts(m_dconsole_have_15['연령구분  _labels'].values, sort = True).rename('2015')).rename({'60세 이상':'60대 이상'})
m_dconsole_age_15.loc['20대 이하'] = m_dconsole_age_15.loc['10대'] + m_dconsole_age_15.loc['20대']
m_dconsole_age_15 = m_dconsole_age_15.drop(['20대','10대'])

m_dconsole_age = pd.concat([m_dconsole_age_10, m_dconsole_age_11, m_dconsole_age_12, m_dconsole_age_13, m_dconsole_age_14, m_dconsole_age_15], axis=1)
m_dconsole_age

        2010  2011  2012  2013  2014  2015
20대 이하   953  1107   910   877   849   994
30대     1106  1110  1016  1013   919  1042
40대     1114  1206  1052  1019  1024  1289
50대      969  1093  1046  1056  1027  1337
60대 이상  2046  1949  2036  2156  2146  2782

In [20]:
m_console_age_per = m_console_age / age * 100
m_console_age_per

             2010      2011      2012      2013      2014      2015
20대 이하  11.017740  7.980050  9.090909  5.086580  3.741497  2.834800
30대      5.064378  5.370844  7.971014  3.523810  2.545069  3.429101
40대      2.792321  2.976669  8.282476  2.488038  1.727447  2.126044
50대      0.615385  0.364631  4.822566  0.751880  0.097276  0.889548
60대 이상   0.292398  0.204813  2.583732  0.046361  0.046577  0.107720

In [21]:
list_age_per = m_console_age_per.values.tolist()
year = [2010, 2011, 2012, 2013, 2014, 2015]

graph_data = [go.Scatter(x = year,y = list_age_per[0], name = 'under 20'), go.Scatter(x = year,y = list_age_per[1], name = '30'),
             go.Scatter(x = year,y = list_age_per[2], name = '40'), go.Scatter(x = year,y = list_age_per[3], name = '50'),
             go.Scatter(x = year,y = list_age_per[4], name = 'over 60')]

py.iplot(graph_data)

In [22]:
#cellphone(핸드폰)

#cellphone_09, 2009는 데이터가 존재하지 않음
#일반폰/스마트폰을 나누어서 표기하였음, 여기서는 일반폰의 개수, 개수로 나타낸것은 가지고있는 개수이다.
cellphone_10 = pd.DataFrame(pd.value_counts(data_2010['일반폰 소유 대수'].values, sort = True).rename('2010'))
cellphone_10 = cellphone_10.drop(['p_bCE003'])

cellphone_11 = pd.DataFrame(pd.value_counts(data_2011['일반폰 소유 대수'].values, sort = True).rename('2011'))
cellphone_11 = cellphone_11.drop(['p_bCE003'])

cellphone_12 = pd.DataFrame(pd.value_counts(data_2012['일반폰 소유 대수'].values, sort = True).rename('2012'))
cellphone_12 = cellphone_12.drop(['p_bCE003'])

cellphone_13 = pd.DataFrame(pd.value_counts(data_2013['일반폰 소유 대수'].values, sort = True).rename('2013'))
cellphone_13 = cellphone_13.drop(['p_bCE003'])

cellphone_14 = pd.DataFrame(pd.value_counts(data_2014['일반폰 소유 대수'].values, sort = True).rename('2014'))
cellphone_14 = cellphone_14.drop(['p_bCE003'])

cellphone_15 = pd.DataFrame(pd.value_counts(data_2015['일반폰 소유 대수  '].values, sort = True).rename('2015'))
cellphone_15 = cellphone_15.drop(['p_bCE003'])

cp = pd.concat([cellphone_10, cellphone_11, cellphone_12, cellphone_13, cellphone_14, cellphone_15], axis=1)
cp_have = cp.sum()
cp_have = pd.DataFrame(cp_have.rename('일반폰 소유 인원'))
cp_have

      일반폰 소유 인원
2010     5442.0
2011     4651.0
2012     3059.0
2013     2397.0
2014     1888.0
2015     2070.0

In [23]:
#smartphone_09, 2009데이터는 존재하지 않음
smartphone_10 = pd.DataFrame(pd.value_counts(data_2010['스마트폰 소유 대수'].values, sort = True).rename('2010'))
smartphone_10 = smartphone_10.drop(['p_bCE008'])

smartphone_11 = pd.DataFrame(pd.value_counts(data_2011['스마트폰 소유 대수'].values, sort = True).rename('2011'))
smartphone_11 = smartphone_11.drop(['p_bCE008'])

smartphone_12 = pd.DataFrame(pd.value_counts(data_2012['스마트폰 소유 대수'].values, sort = True).rename('2012'))
smartphone_12 = smartphone_12.drop(['p_bCE008'])

smartphone_13 = pd.DataFrame(pd.value_counts(data_2013['스마트폰 소유 대수'].values, sort = True).rename('2013'))
smartphone_13 = smartphone_13.drop(['p_bCE008'])

smartphone_14 = pd.DataFrame(pd.value_counts(data_2014['스마트폰 소유 대수'].values, sort = True).rename('2014'))
smartphone_14 = smartphone_14.drop(['p_bCE008'])

smartphone_15 = pd.DataFrame(pd.value_counts(data_2015['스마트폰 소유 대수  '].values, sort = True).rename('2015'))
smartphone_15 = smartphone_15.drop(['p_bCE008'])

smp = pd.concat([smartphone_10, smartphone_11, smartphone_12, smartphone_13, smartphone_14, smartphone_15], axis=1)
smp_have = smp.sum()
smp_have = pd.DataFrame(smp_have.rename('스마트폰 소유 인원'))
smp_have

      스마트폰 소유 인원
2010       165.0
2011      1404.0
2012      2907.0
2013      3411.0
2014      3773.0
2015      5054.0

In [24]:
phone_have = pd.merge(cp_have, smp_have, right_index=True, left_index=True)
phone_have

      일반폰 소유 인원  스마트폰 소유 인원
2010     5442.0       165.0
2011     4651.0      1404.0
2012     3059.0      2907.0
2013     2397.0      3411.0
2014     1888.0      3773.0
2015     2070.0      5054.0

In [25]:
graph_data = [go.Scatter(x = year, y = phone_have['일반폰 소유 인원']/(phone_have['일반폰 소유 인원']+phone_have['스마트폰 소유 인원']), name = '일반폰 소유 비중'),
       go.Scatter(x = year, y = phone_have['스마트폰 소유 인원']/(phone_have['일반폰 소유 인원']+phone_have['스마트폰 소유 인원']), name = '스마트폰 소유 비중')]
py.iplot(graph_data)

In [26]:
data_game

                   2011   2012   2013   2014   2015
온라인게임 시장규모(억 원)   62369  67839  54523  55425  52804
PC게임 시장규모(억 원)       96    680    380    337    379
모바일게임 시장규모(억 원)    4236   8009  23277  29136  34844
비디오게임 시장규모(억 원)    2684   1609    936   1598   1661
아케이드게임 시장규모(억 원)    736    791    825    528    474

In [27]:
data_game_per = data_game / data_game.sum() * 100
data_game_per.rename({'온라인게임 시장규모(억 원)' : '온라인게임 비중(%)',
                     'PC게임 시장규모(억 원)' : 'PC게임 비중(%)',
                     '모바일게임 시장규모(억 원)' : '모바일게임 비중(%)',
                     '비디오게임 시장규모(억 원)' : '비디오게임 비중(%)',
                     '아케이드게임 시장규모(억 원)' : '아케이드게임 비중(%)'})

                   2011       2012       2013       2014       2015
온라인게임 비중(%)   88.944824  85.950487  68.204050  63.689327  58.565693
PC게임 비중(%)     0.136906   0.861545   0.475351   0.387249   0.420354
모바일게임 비중(%)    6.040986  10.147223  29.117724  33.480419  38.645993
비디오게임 비중(%)    3.827669   2.038567   1.170864   1.836275   1.842240
아케이드게임 비중(%)   1.049614   1.002179   1.032011   0.606729   0.525720

In [28]:
list_game_per = data_game_per.values.tolist()
year = ['2011년', '2012년', '2013년', '2014년', '2015년']

graph_data = [go.Scatter(x = year,y = list_game_per[0], name = '온라인게임 비중(%)'), go.Scatter(x = year,y = list_game_per[1], name = 'PC게임 비중(%)'),
             go.Scatter(x = year,y = list_game_per[2], name = '모바일게임 비중(%)'), go.Scatter(x = year,y = list_game_per[3], name = '비디오게임 비중(%)'),
             go.Scatter(x = year,y = list_game_per[4], name = '아케이드게임 비중(%)')]

py.iplot(graph_data)

In [29]:
list_game_per = data_game_per.values.tolist()
year = ['2011년', '2012년', '2013년', '2014년', '2015년']

graph_data = [go.Scatter(x = year,y = list_game_per[2], name = '모바일게임 비중(%)'),
              go.Scatter(x = year,y = list_game_per[3], name = '비디오게임 비중(%)'),]

py.iplot(graph_data)

In [37]:
bar_data = [go.Bar(x = ['10대', '20대', '30대', '40대', '50대', '60~65세'], y = [11.9, 18.9, 40.0, 16.2, 13.0, 0.0])]
py.iplot(bar_data)